.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
