<div class="container">
  <h2>Reactive Form</h2>

  <h3>Profile Form</h3>

  <p>
    {{ formGroup.value | json }}
  </p>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>

      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="firstName"
      />
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>

      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="lastName"
      />
    </div>

    <h4>Address</h4>

    <div formGroupName="address">
      <div class="form-group">
        <label for="name">Street</label>

        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="street"
        />
      </div>

      <div class="form-group">
        <label for="name">Zip Code</label>

        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="zipCode"
        />
      </div>

      <div class="form-group">
        <label for="name">State</label>

        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="state"
        />
      </div>

      <div class="form-group">
        <label for="name">Country</label>

        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="country"
        />
      </div>
    </div>

    <h4>Aliases</h4>

    <p>
      <button class="btn" (click)="addAlias()">+ Add Alias</button>
    </p>

    <div formArrayName="aliases">
      <div
        *ngFor="let alias of aliases.controls; let i = index"
        class="form-group"
      >
        <label for="name">Alias</label>

        <input
          type="text"
          id="name"
          class="form-control"
          [formControlName]="i"
        />
      </div>
    </div>

    <div class="button-container">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!formGroup.valid"
      >
        Submit
      </button>

      <button type="button" class="btn" (click)="restoreDefault()">
        Restore Default
      </button>
    </div>
  </form>
</div>
